wrapper {
  background-image: url("data:image/svg+xml,%3csvg
    xmlns='http://www.w3.org/2000/svg' version='1.1'
    xmlns:xlink='http://www.w3.org/1999/xlink'
    xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560'
    preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg
    mask='url(%26quot%3b%23SvgjsMask1021%26quot%3b)' fill='none'%3e%3crect
    width='1440' height='560' x='0' y='0' fill='rgba(21%2c 67%2c 96%2c
    1)'%3e%3c/rect%3e%3cpath
    d='M0%2c438.758C85.784%2c430.302%2c173.422%2c429.173%2c247.677%2c385.394C323.575%2c340.647%2c390.535%2c274.774%2c419.36%2c191.515C447.17%2c111.188%2c412.234%2c26.603%2c401.067%2c-57.665C389.755%2c-143.026%2c393.661%2c-230.108%2c353.401%2c-306.224C306.358%2c-395.163%2c249.263%2c-492.128%2c154.056%2c-524.667C58.228%2c-557.419%2c-51.085%2c-524.257%2c-139.367%2c-474.64C-218.748%2c-430.026%2c-243.962%2c-331.758%2c-306.666%2c-265.728C-373.624%2c-195.218%2c-496.803%2c-169.272%2c-519.204%2c-74.65C-541.459%2c19.358%2c-455.09%2c101.631%2c-414.376%2c189.239C-373.976%2c276.171%2c-363.304%2c388.078%2c-281.182%2c437.528C-199.227%2c486.878%2c-95.205%2c448.143%2c0%2c438.758'
    fill='%230f2f43'%3e%3c/path%3e%3cpath d='M1440
    1033.1480000000001C1554.6970000000001 1035.682 1668.7930000000001 1125.483
    1773.9769999999999 1079.6779999999999 1880.012 1033.502 1917.4 905.024
    1970.339 802.198 2025.806 694.462 2124.0280000000002 582.787 2089.614
    466.6 2054.684 348.66999999999996 1888.189 334.31600000000003 1804.939
    243.779 1725.475 157.36 1720.179 11.56899999999996
    1618.019-46.277000000000044 1510.621-107.08900000000006
    1373.867-103.27300000000002 1255.859-67.12599999999998
    1138.504-31.178999999999974 1025.809 43.269000000000005 969.55 152.353
    916.572 255.075 977.203 376.892 967.4649999999999 492.06 958.5129999999999
    597.922 888.249 696.982 914.799 799.851 943.076 909.409 1011.9680000000001
    1019.197 1115.373 1065.13 1216.798 1110.183 1329.046 1030.6970000000001
    1440 1033.1480000000001'
    fill='%231b577d'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask
    id='SvgjsMask1021'%3e%3crect width='1440' height='560'
    fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}
