:root {
  --main-background: rgb(233, 233, 233);
  --font: "Plus Jakarta Sans", sans-serif;
}
html,
body,
#root,
.Container {
  font-family: var(--font);
  height: 100%;
  margin: 0%;
}
.adminPageWrapper {
  height: 100%;
  display: flex;
}

.adminPageWrapper section.leftMenu {
  border-right: 1px solid #d8d2cb;
  height: 100vh;
  flex-basis: 2%;
}

.adminPageContainer section.mainTopMenu {
  /* height: 70px; */
  height: 70px;
  border-bottom: 1px solid #d8d2cb;
  display: flex;
  background-color: white;
  padding: 0px 30px;
}

.adminPageContainer div.mainSection {
  flex-basis: 100%;
  background-color: #eeeeee;
  height: 100%;
}
.adminPageContainer section.mainTopMenu a {
  display: flex;
  align-items: center;
  margin-right: 20px;
  font-size: 18px;
  font-family: Red Hat Display;
  text-decoration: none;
  color: black;
  border-bottom: 2px solid transparent;
}

.adminPageContainer section.mainTopMenu a:hover {
  border-bottom: 2px solid gray;
}

.adminPageContainer div.mainSection div.LinkSectionWrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
}

/* Preview */
.adminPageContainer div.mainSection div.previewSection {
  flex: 1;
  display: none;
}

.Container {
  grid-template-columns: auto 1fr;
  /* grid-template-rows: 70px auto; */
}

.Container .Navigation {
  display: flex;
  background-color: #f5f2ea;
}
.Container .LinkEdit {
  /* padding: 20px 50px; */
  background-color: var(--main-background);
  overflow: auto;
  /* padding: 10px 190px; */
}
.Container .LinkPreview {
  background-color: var(--main-background);
  display: flex;
  border-left: 0.1px solid rgb(165, 165, 165);
}
.Container .Link {
  border-left: 0.1px solid rgb(165, 165, 165);
  display: flex;
  justify-content: center;
  align-items: center;
}
.Container .Link p {
  margin-bottom: 0px;
  margin-top: 0px;
}
.Container section.mainTopMenu {
  /* height: 70px; */
  height: 70px;
  border-bottom: 1px solid #d8d2cb;
  display: flex;
  background-color: white;
  padding: 0px 30px;
}
.Container section.mainTopMenu a {
  display: flex;
  align-items: center;
  margin-right: 20px;
  font-size: 18px;
  font-family: Red Hat Display;
  text-decoration: none;
  color: black;
  border-bottom: 2px solid transparent;
}

.Container section.mainTopMenu a:hover {
  border-bottom: 2px solid gray;
}
.Container .Main{
  display: grid;
  grid-template-columns: 1fr minmax(450px,500px);
  grid-template-rows: 60px auto;
}

/* @media only screen and (max-width: 600px) {
  .Container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 70px 70px auto;
  }
  .Container .LinkPreview {
    display: none;
  }
} */

@media screen and (min-width: 1024px) {
}
